h1.sunset-username,
h2.sunset-description { font-weight: 100; color: #fff; }
h1.sunset-username { font-size: 24px; margin: 0 0 10px; }
h2.sunset-description { font-size: 13px; margin: 0 0 20px; }

.image-container { display:block; width: 100%; overflow: hidden; text-align: center; }
.profile-picture { display: block; width: 122px; height: 122px; overflow: hidden; border-radius: 50%; margin: 20px auto; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.icon-wrapper a { color: #f1f1f1; padding: 0.2em; font-size: 1.2em;}
