/*
    @package sunsettheme
*/

/*--------------------------------------------------------------
Import
--------------------------------------------------------------*/
@import "base/variabels";     // Valiables
@import "base/mixins";        // Mixins
@import "base/placeholders";  // Placeholder
@import "base/fonticon";      // Font Icon
@import "base/wordpress";     // Default Wordpress Class

/*--------------------------------------------------------------
1. General
--------------------------------------------------------------*/
body { font-family: $body-font; }

a { color: $primary-color; @include animate( color, 320ms );
    &:hover,
    &:focus { text-decoration: none; color: $dark-grey; }
}

.background-image { background-position: center center; background-size: cover; background-repeat: no-repeat; }

.table { display: table; width: 100%; height: 100%;
    .table-cell { display: table-cell; width: 100%; height: 100%; vertical-align: middle; }
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
}

.button-container a {
    color: $primary-color !important;
    &:hover {
        color: $white-color !important;
    }
}

/*--------------------------------------------------------------
2. Header
--------------------------------------------------------------*/
.header-container { @extend %text-shadow; position: relative; display: block; height: 326px; }

.site-title { color: #fff; font-weight: bold; font-size: 80px; }
.site-description { font-size: 14px; color: #fff; margin-top: 1em}

.nav-container { position: absolute; bottom: 0; left: 0; right: 0; }

/*--------------------------------------------------------------
3. Nav Bar
--------------------------------------------------------------*/
.navbar-sunset { text-align: center; border: none; border-radius: 0; min-height: auto; margin-bottom: 0; background-color: rgba(255, 255, 255, 0.1); border-top: 1px solid rgba(255, 255, 255, 0.1);
    ul {float: none;}
    li { float: none; display: inline-block;
        &.active {
            a { opacity: 1;
                &:after { @include transform( translateY(0) ); opacity: 1; }
            }
        }
        &.open {
            a { opacity: 1; background-color: rgba(0, 0, 0, 0.1);
                &:after { @include transform( translateY(10px) ); opacity: 0; }
                &:hover,
                &:focus,
                &:visited { background: none; opacity: 1;
                    &:after { @include transform( translateY(0) ); opacity: 1; }
                }
            }
        }
        a { text-transform: uppercase; color: #fff; font-size: 12px; opacity: 0.7; letter-spacing: 0.05em; background:none; @include animate( opacity, 320ms);
            &:hover,
            &:focus,
            &:visited { background: none; opacity: 1;
                &:after { @include transform( translateY(0) ); opacity: 1; }
            }
            &:after { content: ''; position: absolute; display: block; left: 15px; right: 15px; bottom: 8px; height: 2px; background: #fff; @include animate( all, 320ms); opacity: 0; @include transform( translateY(+10px) ); }
        }
        ul.dropdown-menu { height: 50px; border: 0; border-radius: 0; background: rgba(0,0,0,0.75);
            li { display: block;
                a {
                    &:hover,
                    &:focus,
                    &:visited { background: rgba(0,0,0,0)!important; color: #fff; }
                }
            }
        }
    }
}

/*--------------------------------------------------------------
4. Standard Post Format
--------------------------------------------------------------*/
article { padding: 40px 0; }

h1 { font-size: 48px; font-weight: 200;
    a { color: $primary-color; }
    &.entry-title { line-height: 1.5em; margin: 0; padding: 0;
        &:before, &:after { content: '~'; display: inline-block; position: relative; }
        &:before { margin-right: 10px; }
        &:after { margin-left: 10px; }
    }
}

.entry-meta { font-size: 15px; font-weight: 200; color: $light-grey; margin-bottom: 20px;
    a { font-weight: 500; color: $light-grey;
        &:hover,
        &:focus { color: $dark-grey; }
    }
}

.standard-featured-link { display: block; position: relative;
    &:hover,
    &:focus {
        .standard-featured {
            &:after { background-color: rgba(0,0,0,0); }
        }
    }
}

.standard-featured { height: 330px; display: block; position: relative;
    &:after { @include animate( background-color, 320ms ); content: ''; position: absolute; display: block; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0,0,0,0.15); box-shadow: inset 0 0 15px rgba(0,0,0,0.45); }
}

.entry-excerpt { margin: 30px 0 16px;
    p { font-size: 18px; line-height: 1.5em; font-weight: 300; letter-spacing: 0.02em;}
}

.button-container { margin-bottom: 30px; }
.btn-sunset { @include animate( all, 320ms); text-transform: uppercase; font-size: 14px; font-weight: 200; color: $light-grey; padding: 8px 12px; border-radius: 0; border: 1px solid $light-grey; background-color: transparent;
    &:hover,
    &:focus { color: #ffffff; border-color: $dark-grey; background-color: $dark-grey; }
}

.entry-footer { padding: 10px 5px; border-bottom: 4px solid $lighter-grey; color: $light-grey; text-transform: uppercase;
    a { color: $light-grey; display: inline-block; font-size: 12px;
        &:hover,
        &:focus { color: $dark-grey; }
    }
    i { @extend a; }
    .tags-list { margin-left: 10px;
        .sunset-icon { margin-right: 10px; }
        a { padding: 0 4px; }
    }
    .comments-link {
        .sunset-icon { margin-left: 0px; }
    }
}

/*--------------------------------------------------------------
5. Image Post Format
--------------------------------------------------------------*/
.sunset-format-image {
    .entry-header { height: 550px; @extend %text-shadow; position: relative;}
    h1,
    .entry-meta,
    .entry-header {  color: #ffffff;
        a { color: #ffffff; }
    }
    h1 { padding-top: 10px; }
}
.entry-excerpt {
    &.image-caption { @extend %background-gradient; position: absolute; left: 0; right: 0; bottom: 0; margin: 0;
        p { margin: 40px 0; font-size: 14px; color: $white-color; }
    }
}

/*--------------------------------------------------------------
6. Audion Post Format
--------------------------------------------------------------*/
.sunset-format-audio {
    h1 { font-size: 30px;
        &.entry-title { display: inline-block; margin-right: 20px;
            &:before, &:after { display: none; }
        }
    }

    .entry-meta { display: inline-block; margin-bottom: 0; }

    .entry-content {
        iframe { width: 100%; height: 166px; }
    }
}

/*--------------------------------------------------------------
7. Video Post Format
--------------------------------------------------------------*/
.sunset-format-video {
    header {
        h1 {
            &entry-title { margin-top: 20px; }
        }
    }
}

/*--------------------------------------------------------------
8. Gallery Post
--------------------------------------------------------------*/
.sunset-format-gallery {
    header {
        h1 {
            &entry-title { margin-top: 20px; }
        }
    }

    .standard-featured { height: 500px;
        &:after { background-color: transparent; }
    }

    .carousel-control { background: none; background-image: none; opacity: 1; font-size: 30px; width: auto; @extend %text-shadow;
        .preview-container { position: relative; display: block; padding: 20px; background-color: rgba(0,0,0,0); line-height: 0; @include animate( background-color, 320ms );
            .thumbnail-container { position: absolute; display: block; height: 68px; width: 68px; border-radius: 50%; background-color: #999; top: 1px; @include animate( transform, 320ms ); @include transform( scale(0) ); }
        }

        &.right {
            .preview-container { padding-left: 80px; border-radius: 35.5px 0 0 35.5px;
                .thumbnail-container { left: 1px; }
            }
        }
        &.left {
            .preview-container { padding-right: 80px; border-radius: 0 35.5px 35.5px 0;
                .thumbnail-container { right: 1px; }
            }
        }
        &:hover {
            .preview-container { background-color: rgba(0,0,0,0.8);
                .thumbnail-container { @include transform( scale(1) ); }
            }
        }
    }
    .entry-excerpt {
        &.image-caption { @include animate( transform, 320ms ); @include transform( translateY(100%) ); }
    }
    &:hover {
        .entry-excerpt {
            &.image-caption { @include transform( translateY(0) ); }
        }
    }
}

/*--------------------------------------------------------------
9. Quote Post Format
--------------------------------------------------------------*/

.sunset-format-quote {
    .quote-content { font-size: 45px; font-weight: 100; line-height: 1.3em;  letter-spacing: 0.03em;
        &:before,
        &:after {content: ''; display: inline-block; position: relative; color: #cccccc; font-size: 1.1em; }

        &:before {content: '“'; }
        &:after {content: '„'; }
        a { color: $light-grey; }
    }
    .quote-author { color: $lighter-grey-2; font-size: 16px; letter-spacing: 0.06; font-weight: 300; }
}

/*--------------------------------------------------------------
10. Link Post Format
--------------------------------------------------------------*/
.sunset-format-link {
    h1 {
        &.entry-title {
            &:before, &:after { display: none; }

            a {
                display: block;
            }

            .link-icon {
                display: block;
                color: $white-color;
                font-size: 30px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: rgba(0,0,0,0.6);
                margin: 0 auto;
                line-height: 1em;
                padding-top: 10px;
            }
        }
    }
}

/*--------------------------------------------------------------
11. Aside Post Format
--------------------------------------------------------------*/
.sunset-format-aside {

    .aside-container {
        background-color: rgba(0,0,0,0.05);
        padding-top: 20px;
    }

    .aside-featured {
        width: 136px;
        height: 136px;
        border-radius: 50%;
        margin: 0 auto -20px;
    }
    .entry-meta {
        margin-bottom: 5px;
    }

    .entry-excerpt {
        margin-top: 0;
        p {
            font-size: 15px;
        }
    }

    .entry-footer {
        border-bottom: none;
        background-color: rgba(0,0,0,0.05);
        padding-right: 10px;
    }
}

/*--------------------------------------------------------------
13. Footer Section
--------------------------------------------------------------*/
.sunset-footer {
    background-color: #333;
    padding: 50px 0;
    margin-top: 40px;
    display: block;

    .copyright {
        margin-top: 40px;
        color: white;
    }
}

#menu-footer li {

    & > *:hover { color: #fff; }

    a {
        color: #bcbcbc;
        font-size: 20px;
        font-weight: 500;

        &:hover {
            background-color: transparent;
        }
    }
}

.sunset-menu-footer {
    color: white;
}

.sunset-icon-footer {
    font-size: 50px;
}

/*--------------------------------------------------------------
14. Ajax Loading
--------------------------------------------------------------*/
.container-load-previous {
    margin-top: 40px;
    margin-bottom: -40px;
}

.sunset-post-container {

    padding-top: 40px;

    article {
        @include animate( all, 320ms );
        @include transform( translateY(100px) );
        opacity: 0;

        &.reveal {
            @include transform( translateY(0) );
            opacity: 1;

        }
    }

}

.btn-sunset-load {
    display: block;
    width: 200px;
    color: #222;
    font-size: 30px;
    margin: 0 auto;
    cursor: pointer;
    opacity: 0.5;
    @include animate( opacity, 320ms );

    &:hover,
    &:focus,
    &.loading {
        opacity: 1;
    }
    &.loading {
        cursor: default;
    }

    span {
        display: block;
    }
}

.spin {
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/*--------------------------------------------------------------
15. Single
--------------------------------------------------------------*/
.entry-content {
    margin-top: 40px;
    font-size: 18px;
    letter-spacing: 0.02em;
    line-height: 1.7em;
    font-weight: 300;

    a,
    .sunset-tooltip,
    .sunset-popover {
        cursor: pointer;
        color: $orange;

        &:hover,
        &:focus {
            color: $orange-hover;
        }
    }

    p {
        margin-bottom: 15px;
    }

    b,
    strong {
        font-weight: 500;
    }
}

.post-link-nav {
    padding: 10px 0;

    a {
        padding: 0 5px;
        color: $primary-color;

        &:hover,
        &:focus {
            color: $orange;
        }
    }
}

/*--------------------------------------------------------------
16. Sharing Section
--------------------------------------------------------------*/
.sunset-shareThis {
    display: block;
    text-align: center;
    border-top: 2px solid #F1F1F1;
    padding-top: 10px;
    margin-top: 40px;
    clear: both;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            float: none;
            display: inline-block;
        }
    }

    a {
        display: inline-block;
        font-size: 20px;
        opacity: 0.65;
        margin: 0 5px;
        color: #000000;

        &:hover,
        &:focus {
            opacity: 1;
            color: #000000;
        }
    }
}

/*--------------------------------------------------------------
17. Comment Section
--------------------------------------------------------------*/
.comment-area {
    border-top: 4px solid #f1f1f1;
    margin-top: 40px;
}

.last-fields {
    margin-bottom: 50px;
}

.comment-list {
	padding: 0;
	list-style: none;
}

.comment-body {
	padding-bottom: 0;
}

.children {
	background-color: #F5F5F5;
	padding-right: 20px;
	padding-left: 20px;
	list-style: none;
	margin-left: 60px;

	.comment-author {
		&:before {
			background-color: #fff;
		}
	}

}

.comment-author {

	position: relative;
	display: block;
	font-size: 18px;
	font-weight: 300;

	&:before {
		position: absolute;
		content: '';
		display: block;
		top: 10px;
		bottom: 13px;
		left: 40px;
		right: 0;
		background-color: #f5f5f5;
		z-index: 1;
		border-radius: 4px;
	}

	& * {
		z-index: 1;
		position: relative;
	}

	b {
		font-weight: 400;
	}

	.avatar {
		border-radius: 50%;
		margin-right: 10px;
		border: 3px solid #fff;
	}

}

.comment-metadata {
	text-align: right;
	text-transform: uppercase;
	margin-top: -5px;
	font-size: 12px;

	a {
		color: #999;
	}

}

.comment-content {
	padding: 20px 0;
	font-size: 16px;
	font-weight: 300;
	border-bottom: 1px solid #E6E6E6;
	margin-left: 60px;
}

.reply {
	text-align: right;
	padding: 5px 0;
}

a.comment-reply-link {
	text-transform: uppercase;
	color: $orange;

		&:hover,
		&:focus {
			color: $orange-hover;
		}
}

.comment-respond {
	margin-top: 60px;
}

/*--------------------------------------------------------------
18. Page Section
--------------------------------------------------------------*/
.sunset-page-header {
    padding: 80px 20px;
    min-height: 300px;
    height: 100%;
    background: -webkit-linear-gradient(130deg, #8a6d3b 0%, #555 100%);
    color: white;

    h1 {
        font-size: 45px;
        margin-top: 0;
        margin-bottom: 30px;
    }

    p {
        font-size: 18px;
    }
}

article.sunset-page {
    padding-top: 0;
}

blockquote {
    border-left: none;
    position: relative;

    &:before {
        content: '“';
        font: normal normal normal 14px/1 FontAwesome;
        display: inline-block;
        left: 0;
        font-size: 50px;
        color: #cccccc;
    }

    p {
        display: inline-block;
        font-size: 1.2em;
        letter-spacing: 0.03em;
    }

}

/*--------------------------------------------------------------
19. Sidebar Section
--------------------------------------------------------------*/
.sunset-sidebar {
    position: fixed;
    color: #ffffff;
    background: #1f1f1f;
    z-index: 9;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    max-width: 280px;
    @include animate( transform, 320ms );

    &.sidebar-closed {
        @include transform( TranslateX( 100% ) );
    }

}

.sunset-sidebar-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    padding-top: 40px;
}

.sidebar-close,
.sidebar-open {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $orange-hover
    }
}

.sidebar-open {
    left: auto;
    right: 20px;
    top: 20px;
    font-size: 10px;
}

/* admin declare clases */
h1.sunset-username,
h2.sunset-description { font-weight: 100; color: #fff; }
h1.sunset-username { font-size: 24px; margin: 0 0 10px; }
h2.sunset-description { font-size: 13px; margin: 0 0 20px; }

.image-container { display:block; width: 100%; overflow: hidden; text-align: center; }
.profile-picture { display: block; width: 122px; height: 122px; overflow: hidden; border-radius: 50%; margin: 20px auto; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.icon-wrapper a { color: #f1f1f1; padding: 0.2em; font-size: 1.2em;}


/*--------------------------------------------------------------
20. 404 Page Not Found
--------------------------------------------------------------*/
.sunset-404,
.overlay-404 {
    min-height: 100vh;
    height: 100%;
    position: relative;
}
.overlay-404 {
    width: 100%;
    background: linear-gradient(rgba(255, 0, 0, 0.3), rgba(255, 255, 0, 0.1), rgba(0, 0, 255, 0.2));
    position: absolute;
}

.sunset-error-404 {
    display: relative;
    color: $white-color;

    .page-header {
        border-bottom: none;
        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35vh;
            font-size: 130px;
            font-weight: 200;
        }
    }
    .foot {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: rgba(51, 51, 51, 0.7);
        padding: 6px 0;
        z-index: 1;

        .page-footer {
            position: relative;
            clear: both;
            .sunset-navbar-footer  .navbar-nav {
                width: 100%;
                text-align: center;
                margin: 10px 0;
                > li {
                    float: none;
                    display: inline-block;
                }
            }
        }

    }
}












/*--------------------------------------------------------------
Tite
--------------------------------------------------------------*/
