/*
    @package sunsettheme
*/

/*--------------------------------------------------------------
    Variabel
--------------------------------------------------------------*/
$body-font: 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Verdana, Lato, sans-serif;

$primary-color: #000000;
$white-color: #ffffff;
$dark-grey: #333333;
$dark-grey-1: #303030;
$lighter-grey: #bdbdbd;
$lighter-grey-2: #898989;
$light-grey: #626262;
$orange-hover: #F56808;
$orange: #FF9D1D;
