/*
    @package sunsettheme
*/

/*--------------------------------------------------------------
Variabel
--------------------------------------------------------------*/
$body-font: 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Verdana, Lato, sans-serif;

$primary-color: #000000;
$dark-grey: #333333;
$lighter-grey: #bdbdbd;
// $lighter-grey: #898989;
$light-grey: #626262;
